@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
::-webkit-scrollbar {
   display: none;
}
body, html {
    width: 100%;
    background-color:  hsl(219, 30%, 18%);
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
li {
    list-style: none;
    cursor: pointer;
    color: rgb(187, 187, 187) !important;
}
li:hover {
    color: white !important;
}

.mobile-view {
    display: block;
}
.nav-bar {
    color: white;
    padding: 20px;
    padding-left: 20px;
}
.nav-bar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar ul {
    display: flex;
    width: 23vw;
    justify-content: space-around;
}
.nav-bar ul li {
    color: white;
    text-transform: capitalize;
    font-weight: 100;
    list-style: none;
    cursor: pointer;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
}

.illustration-intro {
    margin-top: 50px;
    width: 100%;
    display: grid;
    place-items: center;
 }
 .productive-svg {
     width: auto;
     height: auto;
 }
 #illustration-intro-svg {
     width: auto;
     height: 430px;
     z-index: 1;
 }
 #curve-svg {
     margin-top: -150px;
     width: 100vw;
     height: 400px;
 }
 .qoutes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -200px;
    width: 100%;
}
.all-your-files{
    color: white; 
    text-align: center; 
    font-weight: 1000;
    width: 500px;
    text-align: center;
    font-size: 30px;
}
.intro-quotes {
    width: 100%;
}
.fylo-stores-all {
    color: rgb(211, 209, 209); 
    font-size: 17px; 
    width:500px; 
    text-align: center; 
    margin-top: 18px;
    font-weight: 200;
} 
.footer-links {
    display: flex;
    width: 500px;
    justify-content: space-around;
} 
.quotes-btn {
    width: 230px;
    height: 44px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 30px;
    background: rgb(51,158,204);
    background: radial-gradient(circle, rgba(51,158,204,1) 20%, rgba(101,226,217,1) 100%);
    border: none;
    cursor: pointer;
    transition: .7s;
    z-index: 1;
}
.quotes-btn:hover {
    background: rgb(120, 215, 255);
    background: radial-gradient(circle, rgb(117, 214, 255) 20%, rgb(138, 253, 246) 100%);
}
.features {
    background-color: hsl(218, 28%, 13%);
    padding-top: 100px;
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    margin-top: -41px;
  }
  .features div {
     display: flex;
     flex-direction: column;
     align-items: center;
  }
  .remote-facility {
    margin-top: -150px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: hsl(218, 28%, 13%);
 }
 .text {
    margin-left: 50px;
 }
 .productivity-text {
    font-size: 14px; 
    color: rgb(206, 206, 206); 
    margin-top: 14px; 
    font-weight: 100; 
    text-align: left; 
    width: 420px;
 }
 .stay-praductive {
    font-size: 25px; 
    color: white; 
    margin-top: 20px; 
    width: 260px;
    font-weight: 1000; 
    word-spacing: 0px;
 }
 .anchor-info {
     width: 170px;
     margin-right: 150px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 10px;
     color: hsl(176, 68%, 64%);
     padding-bottom: 6px;
     border-bottom: 2px solid hsl(198, 60%, 50%);
 }
 .user-comments {
    width: 100%;
    height: 600px;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    background-color: hsl(218, 28%, 13%);
    align-items: center;
    padding-bottom: 240px;

}
.stay-praductive {
    font-size: 20px; color: white; margin-top: 20px; width: 320px; word-spacing: 0px;
}
.user-comments div {
    padding: 30px;
    color: white;
    width: 500px;
    background-color:  hsl(219, 30%, 18%);
    margin-top: 30px;
}
.quotes {
    position: relative;
    top: -60px;
    left: -30px;
    bottom: 0;
 }
.subscribe {
    width: 800px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    background-color: hsl(218, 28%, 13%);
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    position: relative;
    top: -150px;
}
.it-only-takes {
    color: white; width: 770px; text-align: center; margin-left: 0px;
}
.subscribe input {
    height: 50px;
    border-radius: 50px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-subs {
    height: 50px;
    background: rgb(51,158,204);
    background: radial-gradient(circle, rgba(51,158,204,1) 20%, rgba(101,226,217,1) 100%);
    border-radius: 50px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}
.btn-subs:hover {
    background: rgb(120, 215, 255);
    background: radial-gradient(circle, rgb(117, 214, 255) 20%, rgb(138, 253, 246) 100%);
}
.input-btn input {
    width: 75%;
}
.input-btn button {
    width: 200px;
}
.input-btn {
    display: flex;
    align-items: center;
}
.footer {
     background-color: hsl(219, 30%, 18%);
     width: 100%;
     display: flex;
     justify-content: center;
     margin-top: -50px;
}
.footer footer {
    width: 80vw;   
    display: flex;
    justify-content: space-between;
}
.about-us {
    margin-top: 40px;
}
.about-us ul {
    display: flex;
    flex-direction: column;
    color: white;
    height: 130px;
    justify-content: space-between;
    margin-bottom: 50px;
}
.about-us ul li {
    font-size: 18px;
}
@media only screen and (max-width: 820px) {
    .desktop-view {
        display: none;
    }
    .mobile-view {
        display: block;
    }
    .nav-bar {
        color: white;
        padding: 7px;
        padding-left: 20px;
    }
    .nav-bar nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-bar ul {
        display: flex;
        width: 65%;
        justify-content: space-around;
    }
    .all-your-files {
        color: white; text-align: center; font-weight: 700; width: 280px; text-align: center; font-size: 20px;
    }
    .nav-bar ul li {
        text-transform: capitalize;
        font-weight: 100;
        list-style: none;
        cursor: pointer;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 2px;
    }
    .fylo-stores-all {
        color: rgb(211, 209, 209); 
        font-size: 14.5px; 
        width: 310px; 
        text-align: center;
        margin-top: 16px; 
        font-weight: 100;
    }
    .illustration-intro {
       margin-top: 50px;
       width: 100%;
       display: grid;
       place-items: center;
    }
    .productive-svg {
        width: 324px;
        height: 250px;
    }
    #illustration-intro-svg {
        width: 324px;
        height: 250px;
        z-index: 1;
    }
    #curve-svg {
        margin-top: -60px;
        width: 100%;
        height: 180px;
    }

    .qoutes {
        display: flex;
        flex-direction: column;
        background-color: hsl(218, 28%, 13%);
        align-items: center;
        margin-top: -1px;
        width: 100%;
    }
    .intro-quotes {
        width: 100%;
    }
    .productivity-text {
        font-size: 14px; color: white; margin-top: 14px; font-weight: 100; text-align: left; width: 320px;
    }
    .it-only-takes {
        color: white; 
        width: 250px; 
        text-align: center; 
        margin-left: 0px;
    }
    .quotes-btn {
        width: 50%;
        height: 44px;
        border-radius: 50px;
        color: white;
        font-weight: 700;
        font-size: 16px;
        text-transform: capitalize;
        margin-top: 30px;
        background: rgb(51,158,204);
        background: radial-gradient(circle, rgba(51,158,204,1) 20%, rgba(101,226,217,1) 100%);
        border: none;
        cursor: pointer;
        transition: .7s;
    }
    .quotes-btn:hover {
        background: rgb(120, 215, 255);
        background: radial-gradient(circle, rgb(117, 214, 255) 20%, rgb(138, 253, 246) 100%);
    }
    .features {
       background-color: hsl(218, 28%, 13%);
       padding-top: 100px;
       width: 100%;
       height: 1000px;
       display: flex;
       flex-direction: column;
       align-items: center;
     }
     .features div {
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     .remote-facility {
        padding-top: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: hsl(218, 28%, 13%);
    }
    .anchor-info {
        width: 170px;
        margin-right: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        color: hsl(176, 68%, 64%);
        padding-bottom: 6px;
        border-bottom: 2px solid hsl(198, 60%, 50%);
    }
    .user-comments {
        width: 100%;
        height: 1100px;
        padding-top: 120px;
        display: flex;
        background-color: hsl(218, 28%, 13%);
        flex-direction: column;
        align-items: center;
    }
    .stay-praductive {
        font-size: 20px; color: white; margin-top: 20px; width: 320px; word-spacing: 0px;
    }
    .user-comments div {
        padding: 30px;
        color: white;
        width: 300px;
        background-color:  hsl(219, 30%, 18%);
        margin-top: 30px;
    }
    .quotes {
       margin-right: 280px;
    }
    .subscribe {
        width: 300px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        background-color: hsl(218, 28%, 13%);
        margin-right: auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 30px;
        position: relative;
        top: -150px;
    }
    .subscribe input {
        height: 50px;
        border-radius: 50px;
        padding-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .input-btn {
        display: flex;
        flex-direction: column;
    }
    .input-btn input {
        width: 220px;
    }
    .input-btn button {
        width: 220px;
    }
    .btn-subs {
        height: 50px;
        background: rgb(51,158,204);
        background: radial-gradient(circle, rgba(51,158,204,1) 20%, rgba(101,226,217,1) 100%);
        border-radius: 50px;
        color: white;
        font-size: 17px;
        font-weight: 500;
        cursor: pointer;
    }
    .btn-subs:hover {
        background: rgb(120, 215, 255);
        background: radial-gradient(circle, rgb(117, 214, 255) 20%, rgb(138, 253, 246) 100%);
    }
    .footer {
         background-color: hsl(219, 30%, 18%);
         width: 100%;
         display: flex;
         justify-content: center;
         margin-top: -50px;
    }
    .footer footer {
        width: 80vw;   
        display: flex;
        flex-direction: column;
    }

    .about-us, .contact-us-div {
        margin-top: 40px;
    }
    .contact {
        margin-bottom: 0px;
    }
    .about-us ul, .contact-us-div ul {
        display: flex;
        flex-direction: column;
        color: white;
        height: 130px;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .about-us ul li, .contact-us-div ul li {
        font-size: 18px;
    }
    .footer-links {
        display: flex;
        flex-direction: column;
    }
}